:root {
	--main-faintgray-color: #eeeeee;
	--main-lightgray-color: lightgray;
	--main-gray-color: gray;
	--main-dark-color: black;
}


html, body {
	font-family: Arial, sans-serif;
	color: var(--main-gray-color);
	font-size: 1em;
	line-height: 1em;
	width: 100%;
	height: 100%;
	margin: 0;
}