:root {
	--main-faintgray-color: #f3f3f3;
	--main-lightgray-color: lightgray;
	--main-gray-color: #aaaaaa;
	--main-mediumgray-color: #6d6d6d;
	--main-darkgray-color: #333;

	--main-success-color: #17ac10;;
	--main-error-color: #ff5e00;

	--main-layer-one: 1;
	--main-layer-two: 2;
	--main-layer-three: 3;
	--main-layer-four: 4;
	--main-layer-overkill: 1000;
}
.err_col {
	color: var(--main-error-color);
}

html, body {
	font-family: Helvetica Neue, 'Helvetica Neue', Helvetica, 'Helvetica', Arial, sans-serif;
	color: var(--main-darkgray-color);
	font-size: 1em;
	line-height: 1em;
	margin: 0;
}
.Stage *:not(input, textarea) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	vertical-align: middle;
}

pre{
	font-family: inherit;
	font-size: inherit;
}

/* BASIC */

a, a:visited {
	color: inherit;
	text-decoration-style: dotted;
}
a:hover, a:focus, a:active {
	color: black;
	text-decoration-style: solid;
}
.bold {
	font-weight: bold;
}

.page {
	max-width: 600px;
	padding: 10rem 1rem;
	margin: 0 auto;
}



/* HEADER */

#logo {
	position: fixed;
	top: 1.2rem;
	left: 1rem;
	box-sizing: border-box;
	z-index: var(--main-layer-two);
	color: var(--main-mediumgray-color);
}
#app_name {
	text-decoration: none;
	position: absolute;
	right: -.3em;
	top: 0;
	font-size: .75em;
	line-height: .75em;
	transform: translateX(100%);
}
#header_title {
	color: black;
	cursor: pointer;
	font-weight: bold;
}
#logo:not(.disabled) #header_title:hover:after, #logo.opened:not(.disabled) #header_title:after {
	content: '▼';
	font-size: .5em;
	margin-left: .5em;
	position: relative;
	top: -2px;
}
#logo.opened:not(.disabled) #header_title:after {
	content: '▲';
}
.header_nav_link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}




/* FORMS */

input {
	border: 1px solid black;
	height: 2.3rem;
	border-radius: 1px;
	font-size: 1rem;
	padding: 0 0.6em;
	background-color: white;
	display: inline-block;
	color: black;
	box-sizing: border-box;
	font-family: inherit;
	border-radius: 2px;
}
input:focus {
	background-color: var(--main-lightyellow-color);
}
input.invalid {
	background-color: var(--main-faintgray-color);
	color: black;
}
input.valid {
	background-color: rgb(243, 255, 237);
	color: var(--main-darkgray-color);
}
input:not(.valid, :focus), textarea {
	background-color: var(--main-faintgray-color);
	color: black;
}
label {
	color: var(--main-darkgray-color);
	margin-bottom: 0.5rem;
	font-size: 0.7em;
}
button {
	display: inline-block;
	background: white;
	border: 0;
	height: 2.3em;
	border-radius: 8px;
	padding: 0 1em;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	border: 1px solid var(--main-gray-color);
	color: var(--main-darkgray-color);
	position: relative;
	z-index:100;
	white-space: nowrap;
	font-family: inherit;
}
button:hover {
	border: 1px solid black;
	color: black;
}
button:disabled, button[disabled], button:disabled:hover, button[disabled]:hover{
	color: var(--main-darkgray-color);
	cursor: auto;
	border: 1px solid var(--main-gray-color);
	background-color: var(--main-lightgray-color);
}
button.transparent_button {
	background: transparent;
	font-weight: normal;
	color: inherit;
	padding: 0 1em;
	border-color: inherit;
}
button.transparent_button:hover {
	background: white;
}
textarea {
	font-family: inherit;
}





/* POPUP */

.popup {
	background: white;
	box-shadow: 0 0 0 2px rgba(0,0,0,.1);
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 2rem;
	box-sizing: border-box;
	padding: 2rem 1.5rem;
	z-index: calc( var(--main-layer-overkill) + 1);
	max-width: 80%;
	border-radius: .5rem;
	line-height: 1.5em;
	border: 1px solid var(--main-darkgray-color);
	color: var(--main-darkgray-color);
}
.popup_close_button {
	margin-top: 1.5em;
	text-align: center;
	color: var(--main-mediumgray-color);
	font-weight: bold;
}
.popup_close_button:hover {
	color: black;
	cursor: pointer;
}
.viewport_block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: gray;
	opacity: 0.2;
	z-index: var(--main-layer-overkill);
}




/* ICONS */

.icon {
	position: relative;
	width: 1em;
	height: 1em;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.icon.arrows {
	background-image: url(../img/icon-arrows.svg);
}
.icon.eye {
	background-image: url(../img/icon-eye.svg);
}
.icon.anchor {
	background-image: url(../img/icon-anchor.svg);
}
.icon.move {
	background-image: url(../img/icon-move.svg);
}
.icon.connect {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %234A4ABA ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Connect"><circle class="cls-2" cx="12.4" cy="19.53" r="8.06"/><line class="cls-2" x1="17.61" y1="14.46" x2="27.67" y2="4.41"/></g></svg>');
}
.icon.lookout {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Lookout"><polygon class="cls-2" points="17.18 13.16 29.57 3.11 28.29 16.57 16.91 29.01 17.18 13.16"/><polyline class="cls-2" points="29.76 2.14 1.8 11.94 16.06 30.27"/><line class="cls-2" x1="28.29" y1="16.57" x2="1.8" y2="11.94"/><line class="cls-2" x1="1.8" y1="11.94" x2="17.18" y2="13.16"/><path d="M29.37,1.25,30.71.89l-.79,1.94s-1.44-.36-1.31-.47A11.21,11.21,0,0,0,29.37,1.25Z" transform="translate(0)"/><polygon points="15.87 31.6 15.27 30.87 15.24 29.84 15.78 29.65 16 30.52 15.87 31.6"/></g></svg>');
}
.icon.firstperson {
	background-image: url(../img/icon-firstperson.svg);
}
.icon.orbit {
	background-image: url(../img/icon-orbit.svg);
}
.icon.link, .icon.connection {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %234A4ABA ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Link"><circle class="cls-2" cx="7.17" cy="24.74" r="5.56"/><circle class="cls-2" cx="24.65" cy="7.26" r="5.56"/><line class="cls-2" x1="11.18" y1="20.88" x2="21.23" y2="10.83"/></g></svg>');
}
.floating-blocks .icon.link {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: white ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Link"><circle class="cls-2" cx="7.17" cy="24.74" r="5.56"/><circle class="cls-2" cx="24.65" cy="7.26" r="5.56"/><line class="cls-2" x1="11.18" y1="20.88" x2="21.23" y2="10.83"/></g></svg>');
}
.icon.arrow {
	background-image: url(../img/icon-arrow.svg);
}
.icon.dynamic {
	background-image: url(../img/icon-dynamic.svg);
}
.icon.thread {
	background-image: url(../img/icon-thread.svg);
}
.icon.threadstart {
	background-image: url(../img/icon-threadstart.svg);
}
.icon.threaddelete {
	background-image: url(../img/icon-threaddelete.svg);
}
.icon.lookoutmove {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-4{fill:none;}.cls-2,.cls-3{fill:#1d1d1b;}.cls-3,.cls-4{stroke: black ;stroke-miterlimit:10;}.cls-4{stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Lookout_Move" data-name="Lookout Move"><polygon points="11 6 16 0 21 6 11 6"/><polygon points="7.78 31.29 0 32 0.71 24.22 7.78 31.29"/><polygon points="31.29 24.22 32 32 24.22 31.29 31.29 24.22"/><path class="cls-2" d="M17.63,23.48" transform="translate(0)"/><path class="cls-3" d="M10.84,15" transform="translate(0)"/><polygon class="cls-4" points="16.46 16.73 26.35 8.71 25.33 19.45 16.25 29.38 16.46 16.73"/><polyline class="cls-4" points="27.01 7.66 4.48 14.74 15.74 31.02"/><line class="cls-4" x1="25.33" y1="19.45" x2="4.48" y2="14.74"/><path class="cls-4" d="M5.75,14.61" transform="translate(0)"/><polygon points="14.87 31.52 15.18 32 15.63 30.86 14.87 31.52"/><polygon points="26.61 6.75 27.52 6.46 27.01 7.45 26.61 6.75"/></g></svg>');
}
.icon.trash {
	background-image: url(../img/icon-trash.svg);
}
.icon.trashopen {
	background-image: url(../img/icon-trashopen.svg);
}
.icon.refresh {
	background-image: url(../img/icon-refresh.svg);
}