:root {
	
	--color-picker: #4e54bc;
	
	--main-faintgray-color: #f3f3f3;
	--main-lightgray-color: rgb(191, 191, 191);
	--main-gray-color: #a4a4a4;
	--main-mediumgray-color: #6d6d6d;
	--main-darkgray-color: #333;
	
	--main-success-color: #17ac10;;
	--main-error-color: #ff5e00;
	
	--hover-opacity: .6;
	
	--main-border: 1px solid black;
	
	--main-layer-one: 1;
	--main-layer-two: 2;
	--main-layer-three: 3;
	--main-layer-four: 4;
	--main-layer-five: 5;
	--main-layer-six: 6;
	--main-layer-overkill: 1000;
}
.err_col {
	color: var(--main-error-color);
}

html, body {
	font-family: Helvetica Neue, 'Helvetica Neue', Helvetica, 'Helvetica', Arial, sans-serif;
	color: black;
	font-size: 16px;
	line-height: 16px;
	margin: 0;
	font-weight: 400;
	letter-spacing: .01em;
}
.Stage *:not(input, textarea) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

img {
	vertical-align: middle;
}

pre{
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	padding: 0;
}

/* BASIC */

a {
	color: inherit;
	text-decoration-style: dotted;
}
a:hover, a:focus, a:active {
	color: black;
	text-decoration-style: solid;
}
.bold {
	font-weight: bold;
}
.white { color: white; }
.faintgray { color: var(--main-faintgray-color); }
.lightgray { color: var(--main-lightgray-color); }
.gray { color: var(--main-gray-color); }
.mediumgray { color: var(--main-mediumgray-color); }
.darkgray { color: var(--main-darkgray-color); }
.black { color: black; }

p:last-child {
	margin-bottom: 0;
}


.page {
	max-width: 600px;
	padding: 10rem 1rem;
	margin: 0 auto;
	line-height: 150%;
}



/* HEADER */

#logo {
	position: fixed;
	top: 1.4rem;
	left: 1rem;
	box-sizing: border-box;
	z-index: var(--main-layer-two);
	font-weight: 300;
	font-size: 1.1em;
}
#app_name {
	text-decoration: none;
	position: absolute;
	right: -.3em;
	top: 0;
	font-size: .75em;
	line-height: .75em;
	transform: translateX(100%);
	font-weight: 400;
}
#app_name:hover {
	opacity: var(--hover-opacity);
}
#header_title {
	color: black;
	cursor: pointer;
	font-weight: bold;
}
#logo:not(.disabled) #header_title:hover:after, #logo.opened:not(.disabled) #header_title:after {
	content: '▼';
	font-size: .5em;
	margin-left: .5em;
	position: relative;
	top: -2px;
}
#logo.opened:not(.disabled) #header_title:after {
	content: '▲';
}
.header_nav_link {
	position: absolute;
	top: 1rem;
	right: 1rem;
}




/* FORMS */

input {
	border: var(--main-border);
	height: 2.3rem;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 0 .7em;
	background-color: white;
	display: inline-block;
	color: black;
	box-sizing: border-box;
	font-family: inherit;
	border-radius: 0;
	font-weight: 400;
}
input:hover {
	cursor: text;
	border-color: black;
}
input:focus {
	background-color: var(--main-lightyellow-color);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
 }
input.invalid {
	background-color: var(--main-lightgray-color);
	color: black;
}
input.valid {
	background-color: rgb(223, 251, 208);
	color: var(--main-darkgray-color);
}
input:not(.valid, :focus), textarea {
	background-color: var(--main-faintgray-color);
	color: black;
}
label {
	color: var(--main-darkgray-color);
	margin-bottom: 0.5rem;
	font-size: 0.7em;
}
button {
	display: inline-block;
	background: white;
	height: 2.3em;
	border-radius: 0;
	padding: 0 1em;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	border: var(--main-border);
	color: black;
	position: relative;
	z-index:100;
	white-space: nowrap;
	font-family: inherit;
}
button:hover {
	opacity: var(--hover-opacity);
}
button:disabled, button[disabled], button:disabled:hover, button[disabled]:hover{
	color: var(--main-darkgray-color);
	cursor: auto;
	border: 1px solid var(--main-gray-color);
	background-color: var(--main-lightgray-color);
	border: none;
}
button.transparent_button {
	background: transparent;
	font-weight: normal;
	color: inherit;
	padding: 0 1em;
	border-color: inherit;
}
button.transparent_button:hover {
	background: white;
}
textarea {
	font-family: inherit;
}





/* POPUP */

.popup {
	background: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 2rem;
	box-sizing: border-box;
	padding: 2rem 1.5rem;
	z-index: calc( var(--main-layer-overkill) + 1);
	max-width: 80%;
	line-height: 1.5em;
	border: var(--main-border);
	color: var(--main-darkgray-color);
}
.popup_close_button {
	margin-top: 1.5em;
	text-align: center;
	color: var(--main-mediumgray-color);
	font-weight: bold;
}
.popup_close_button:hover {
	color: black;
	cursor: pointer;
}
.viewport_block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: gray;
	opacity: 0.25;
	z-index: var(--main-layer-overkill);
}



@media (max-width:700px) {
	#logo {
		top: 1.2rem;
	}
}




/* ICONS */

.icon {
	position: relative;
	width: 1em;
	height: 1em;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	vertical-align: middle;
}

.icon.arrows {
	background-image: url('data:image/svg+xml;utf8,<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;stroke: black ;stroke-miterlimit:10;stroke-width:2px;}.cls-2{fill: black ;}</style></defs><line class="cls-1" x1="16" y1="2" x2="16" y2="30"/><line class="cls-1" x1="30" y1="16" x2="2" y2="16"/><polygon class="cls-2" points="6 20 0 16 6 12 6 20"/><polygon class="cls-2" points="26 12 32 16 26 20 26 12"/><polygon class="cls-2" points="12 6 16 0 20 6 12 6"/><polygon class="cls-2" points="20 26 16 32 12 26 20 26"/></svg>');
}
.icon.eye, .toolbox .eye {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Eye"><path d="M16,8.34c10.89,0,13.43,5.93,13.92,7.58-.63,1.66-3.66,7.74-13.92,7.74S2.72,17.6,2.08,15.92C2.58,14.25,5.13,8.34,16,8.34m0-2C1.6,6.34,0,16,0,16s2.49,9.66,16,9.66S32,16,32,16,30.4,6.34,16,6.34Z" transform="translate(0)"/><path d="M16,12a4,4,0,1,1-4,4,4,4,0,0,1,4-4m0-2a6,6,0,1,0,6,6,6,6,0,0,0-6-6Z" transform="translate(0)"/></g></svg>');
}
.icon.anchor, .toolbox .anchor {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Anker"><line class="cls-2" x1="16" y1="9.52" x2="16" y2="28.38"/><line class="cls-2" x1="21" y1="15" x2="11" y2="15"/><path class="cls-2" d="M27.75,22.49c0,3.43-5.26,6.22-11.75,6.22S4.25,25.92,4.25,22.49" transform="translate(0)"/><path d="M16,3.76a2,2,0,1,1-2,2,2,2,0,0,1,2-2m0-2a4,4,0,1,0,4,4,4,4,0,0,0-4-4Z" transform="translate(0)"/></g></svg>');
}
.icon.move, .toolbox .move {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2,.cls-3{stroke: black ;stroke-miterlimit:10;}.cls-2{stroke-width:2px;}.cls-3{fill: black ;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Move"><line class="cls-2" x1="16" y1="6" x2="16" y2="18.12"/><polygon points="11 6 16 0 21 6 11 6"/><polygon points="7.78 31.29 0 32 0.71 24.22 7.78 31.29"/><polygon points="31.29 24.22 32 32 24.22 31.29 31.29 24.22"/><path class="cls-3" d="M18,21.66" transform="translate(0)"/><path class="cls-3" d="M10.91,14.59" transform="translate(0)"/><line class="cls-2" x1="16" y1="18.12" x2="28.11" y2="28.11"/><line class="cls-2" x1="16" y1="18.12" x2="3.89" y2="28.11"/></g></svg>');
}
.icon.connect, .toolbox .connect {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %234851DE ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Connect"><circle class="cls-2" cx="12.4" cy="19.53" r="8.06"/><line class="cls-2" x1="17.61" y1="14.46" x2="27.67" y2="4.41"/></g></svg>');
}
.icon.lookout {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c{fill:none;}.d{fill: black ;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><path class="d" d="M.07,11.07L16.37,31.93l13.84-15.13L31.95,.13,.07,11.07Zm5.48,.22L28.22,3.46l-11.04,9.86-11.63-2.03Zm-1.37,1.79l12.51,2.18-.25,13.53L4.17,13.09Zm14.5,2.53l8.55,1.49-8.75,9.56,.21-11.05Zm9.69-.34l-8.67-1.51L29.43,5.07l-1.07,10.21Z"/></g></svg>');
}
#lookout_btn.transform .icon {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c{fill:none;}.d{fill: white ;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><path class="d" d="M.07,11.07L16.37,31.93l13.84-15.13L31.95,.13,.07,11.07Zm5.48,.22L28.22,3.46l-11.04,9.86-11.63-2.03Zm-1.37,1.79l12.51,2.18-.25,13.53L4.17,13.09Zm14.5,2.53l8.55,1.49-8.75,9.56,.21-11.05Zm9.69-.34l-8.67-1.51L29.43,5.07l-1.07,10.21Z"/></g></svg>');
}
.icon.lookoutmove {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c{fill:none;}.d{fill: black ;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><polygon class="d" points="11.04 6 16.04 0 21.04 6 11.04 6"/><polygon class="d" points="7.81 31.29 .04 32 .74 24.22 7.81 31.29"/><polygon class="d" points="31.33 24.22 32.04 32 24.26 31.29 31.33 24.22"/><path class="d" d="M26.74,6.7L2.92,14.19,14.96,31.59l.28,.41,11.09-12.12,1.28-13.44-.86,.27Zm-2.26,11.52l-6.44-1.46,7.13-5.78-.69,7.23Zm-8.92-2.02l-7.2-1.63,15.04-4.73-7.84,6.35Zm-.08,2.03l-.18,10.33L6.8,16.28l8.68,1.96Zm1.99,.45l6,1.36-6.14,6.71,.14-8.06Z"/></g></svg>');
}
.icon.firstperson {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="First_person" data-name="First person"><path class="cls-2" d="M19.65,19.77c0,1-5.16.5-5.16.92,0,6.07-1.49,9-6.43,9-4.64,0-6.95-5.84-6.95-13s-.29-13,7-13c3.08,0,5.6,2,6.06,7.55C14.25,12.79,19.65,18.17,19.65,19.77Z" transform="translate(0)"/><line class="cls-2" x1="20.49" y1="12.05" x2="29.96" y2="12.05"/><polyline class="cls-2" points="26.38 6.55 30.63 12.05 26.38 17.55"/></g></svg>');
}
.icon.orbit {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Orbit"><path class="cls-2" d="M22.8,10.09c4.54,1.15,8,3.37,8,5.91,0,3.73-5.78,6.74-14.78,6.74S1.22,19.73,1.22,16c0-2.16,2.49-4.09,6-5.32" transform="translate(0)"/><polygon points="24.36 17.17 20.72 9.51 28.38 5.86 24.36 17.17"/><polygon points="19.04 14.21 12.91 20.08 7.04 13.96 19.04 14.21"/><path class="cls-2" d="M13.1,17.42c0-.46,0-.94,0-1.42-.17-9,2.21-14.83,5.28-14.88,1.3,0,2.52,1.27,3.5,3.33" transform="translate(0)"/><path class="cls-2" d="M22.49,24.81c-1.08,3.57-2.68,6-4.47,6s-3.53-2.11-4.61-5.78" transform="translate(0)"/></g></svg>');
}
.icon.link, .icon.connection {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %234851DE ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Link"><circle class="cls-2" cx="7.17" cy="24.74" r="5.56"/><circle class="cls-2" cx="24.65" cy="7.26" r="5.56"/><line class="cls-2" x1="11.18" y1="20.88" x2="21.23" y2="10.83"/></g></svg>');
}
.floating-blocks .icon.link {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: white ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Link"><circle class="cls-2" cx="7.17" cy="24.74" r="5.56"/><circle class="cls-2" cx="24.65" cy="7.26" r="5.56"/><line class="cls-2" x1="11.18" y1="20.88" x2="21.23" y2="10.83"/></g></svg>');
}
.icon.arrow {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" x="0.04" width="32" height="32"/></g><g id="Arrow"><line class="cls-2" x1="30.04" y1="16" x2="2.04" y2="16"/><polyline class="cls-2" points="7.4 22.14 1.4 16 7.4 9.86"/><polyline class="cls-2" points="24.68 9.86 30.68 16 24.68 22.14"/></g></svg>');
}
.icon.dynamic, .toolbox .dynamic {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.d,.e,.f{fill:none;}.e{stroke-linecap:round;}.e,.f{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="a"><rect class="d" x=".04" width="32" height="32"/></g><g id="b"/><g id="c"><ellipse class="f" cx="15.32" cy="15.62" rx="8.04" ry="7.55" transform="translate(-5.76 9.75) rotate(-30)"/><path class="e" d="M2.58,8.94c.95-2.06,3.44-5.56,7.36-6.53"/><path class="e" d="M28.28,8.59c2.39,3.6,2.68,9.59-.13,13.72"/><path class="e" d="M4.02,24.15c2.01,2.99,4.97,5.29,9.78,5.44"/></g></svg>');
}
.icon.thread, .toolbox .thread {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %23F85330 ;stroke-miterlimit:10;stroke-width:1.8px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Thread"><path class="cls-2" d="M3.65,13.33c3.4-9.33,14-12.12,16.61-10,3.89,3.15-.1,6.34-3.47,9.7a11.7,11.7,0,0,0-3.51,11c1.13,5.58,12.46,9.9,15.07-3.84" transform="translate(0)"/></g></svg>');
}
.icon.threadstart, .toolbox .threadstart {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d,.e{fill:none;}.d{stroke-width:2px;}.d,.e{stroke: %23F85330 ;stroke-miterlimit:10;}.e{stroke-width:1.8px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><g><circle class="d" cx="9" cy="22.2" r="6.07"/><path class="e" d="M27.03,6.7c4.81,7.97,.65,14.44-2.26,15.28s-4.85-2.31-5.47-6.83c-.42-3.04-1.91-6.51-5.52-8.31-5.04-2.52-12.13,1.46-8.11,9.32"/></g></g></svg>');
}
.icon.threadinsert, #thread_plus {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d{fill:none;}.d{stroke: white ;stroke-miterlimit:10;stroke-width:3px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><path class="d" d="M3.81,3.33c4.06,9.03,9.5,1.98,13.4,6.03"/><path class="d" d="M25.41,20.13c3.36,7.88-6.78,11.57-11.56,5.55-3.03-3.81-6.55-4.78-10.07-.45"/><circle class="d" cx="22.23" cy="13.97" r="6.07"/></g></svg>');
}
.icon.threaddelete, .toolbox .threaddelete {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d,.e{fill:none;}.d{stroke-width:2px;}.d,.e{stroke: %23F85330 ;stroke-miterlimit:10;}.e{stroke-width:1.8px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><path class="e" d="M1.37,16.54C2.55,8.01,11.05,3.71,13.63,5.01c3.87,1.96,1.07,5.39-1.17,8.85-2.06,3.18-2.46,6.58-.97,9.99,1.74,4,10.06,5.72,11.78-2.3"/><g><line class="d" x1="17.4" y1="20.34" x2="31.38" y2="9.94"/><line class="d" x1="19.19" y1="8.16" x2="29.59" y2="22.13"/></g></g></svg>');
}
.icon.threadnext {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d{fill:none;}.d{stroke: %23FF5E00 ;stroke-miterlimit:10;stroke-width:4px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><g><path class="d" d="M24.04,16C15.2,16,8.04,8.84,8.04,0"/><path class="d" d="M8.04,32c0-8.84,7.16-16,16-16"/></g></g></svg>');
}
.icon.threadprev {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d{fill:none;}.d{stroke: %23FF5E00 ;stroke-miterlimit:10;stroke-width:4px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><g><path class="d" d="M8.04,16c8.84,0,16-7.16,16-16"/><path class="d" d="M24.04,32c0-8.84-7.16-16-16-16"/></g></g></svg>');
}
.icon.trash {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %23FF5E00 ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Trashcan"><polygon class="cls-2" points="21.5 29.5 10.5 29.5 8.5 9.5 23.5 9.5 21.5 29.5"/><rect class="cls-2" x="13.5" y="3.5" width="5" height="4"/><line class="cls-2" x1="5.5" y1="7.5" x2="26.5" y2="7.5"/></g></svg>');
}
.icon.trashopen {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: %23FF5E00 ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Trashcan_open" data-name="Trashcan open"><polygon class="cls-2" points="21.5 29.5 10.5 29.5 8.5 9.5 23.5 9.5 21.5 29.5"/><rect class="cls-2" x="22.7" y="4.76" width="5" height="4" transform="translate(12.16 -15.84) rotate(45)"/><line class="cls-2" x1="16.36" y1="0.75" x2="31.21" y2="15.6"/></g></svg>');
}
.icon.refresh {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.cls-1,.cls-2{fill:none;}.cls-2{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="Ebene_10" data-name="Ebene 10"><rect class="cls-1" width="32" height="32"/></g><g id="Refresh"><path class="cls-2" d="M27,17.5a11,11,0,1,1-11-11" transform="translate(0)"/><polygon points="16 1.5 22 6.5 16 11.5 16 1.5"/></g></svg>');
}
.icon.close, .toolbox .close {
	background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.08 32"><defs><style>.c,.d{fill:none;}.d{stroke: black ;stroke-miterlimit:10;stroke-width:2px;}</style></defs><g id="a"><rect class="c" x=".04" width="32" height="32"/></g><g id="b"><line class="d" x1="26.26" y1="5.78" x2="5.81" y2="26.22"/><line class="d" x1="5.81" y1="5.78" x2="26.26" y2="26.22"/></g></svg>');
}