:root {
	--draggable-list-item-width: 15rem;
	--thumbs-witdh: 4.5em;
	--draggable-list-item-padding: 1em;
}






html, body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}






/* SOURCE */

#source, #source:active {
	position:fixed;
	z-index: var(--main-layer-two);
	user-select:none;
	top: 3.2rem;
	max-height: calc(100% - 1rem - 3.2rem);
	left: 1rem;
	width: var(--draggable-list-item-width);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 .1em rgba(0,0,0,.05);
	opacity: .75;
	transition: opacity 2s;
}
#source:hover {
	opacity: 1;
	transition: opacity .3s;
}
#source_header {
	padding: .25rem;
	position: relative;
	background: white;
	box-sizing: border-box;
	border: 1px solid var(--main-lightgray-color);
	border-bottom: none;
}

#refresh_button {
	position: relative;
	width: 26%;
	z-index: 0;
	border: none;
	opacity: .75;
}
#refresh_button:hover {
	opacity: 1;
}
.state_2 #refresh_button {
	opacity: .4;
}
#source_header .searchbar {
	right: .25rem;
	position: absolute;
	width: 70%;
	transition: width .1s;
	z-index: 100;
	text-align: left;
}
.searchbar {
	font-size: .9em;
}
#source_header .searchbar:focus {
	width: calc(100% - .5rem);
	background: white;
}
#to_arena_channel_btn {
	background: white;
	font-size: .7em;
	padding: .9em .7em;
	border: 1px solid var(--main-lightgray-color);
	border-top: 0;
	color: var(--main-gray-color);
}
#to_arena_channel_btn a {
	text-decoration: none;
}
#to_arena_channel_btn a:hover {
	text-decoration: underline;
	text-decoration-style: dotted;
}









/* EDITOR */

#editor {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: var(--main-layer-three);
	background: white;
	width: var(--draggable-list-item-width);
	padding: 1rem;
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
#editor_header {
	text-align: right;
	margin-bottom: .25rem;
}
#save_button_wrapper {
	margin-bottom: 1rem;
}
#save_button_changes {
	color: var(--main-mediumgray-color);
	font-size: .7em;
	vertical-align: text-bottom;
	margin-right: 1em;
}
#editor input:focus, #editor textarea:focus {
  background-color: white;
}








/* CONTROLS */

#controls_header {
	position:fixed;
	top: 1rem;
	right: 1rem;
	z-index: var(--main-layer-five);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
#help_button, #settings_button {
	margin-right: 2rem;
	position: relative;
	top: 1px;
}
#help_button {
	cursor: pointer;
}
#help_button:hover:before {
	content: 'Help ';
}
#settings_button, #help_button:hover:before {
	cursor: pointer;
	vertical-align: middle;
	font-size: .8em;
	color: var(--main-mediumgray-color);
}
#settings_button:hover, #help_button:hover:before {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: black;
}
#main_button {
	background: white;
	padding: 0 .9rem;
	color: black;
	border-radius: 2rem;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 2rem;
	box-sizing: border-box;
	border: 1px solid var(--main-gray-color);
}
#main_button:hover {
	border-color: black;
}
#editor_button_indicator {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--main-error-color);
	border-radius: 2em;
	min-width: 1.2rem;
	height: 1.2rem;
	margin-left: .5rem;
	color: white;
	font-size: .8em;
	text-align: center;
	box-sizing: border-box;
	padding: 0 .5em;
	margin-right: -.4rem;
}
#main_button #editor_button_indicator.close_button {
	background: linear-gradient(45deg, transparent calc(50% - 1px), var(--main-darkgray-color) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(135deg, transparent calc(50% - 1px), var(--main-darkgray-color) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(var(--main-lightgray-color), var(--main-lightgray-color));
	color: transparent;
	border: 5px solid var(--main-lightgray-color);
	padding: 0;
	width: 1.1rem;
}
#editor_button_indicator.hide:not(.close_button) {
	display: none;
}


/* CAMERA CONTROLS */

#camera_controls {
	position:fixed;
	bottom:1rem;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	right:1rem;
	align-items: stretch;
	height: 2.3rem;
	font-size: 1.08em;
}
#camera_controls.margin_right {
	right:calc(var(--draggable-list-item-width) + 3rem);
}
#lookout_btn {
	background: white;
	border: 1px solid var(--main-gray-color);
	vertical-align: middle;
	border-radius: 5px;
	box-sizing: border-box;
	white-space: nowrap;
	display: flex;
	align-items: center;
	padding: 0 1em;
	font-size: .8em;
	color: black;
	cursor: pointer;
	margin-right: 1rem;
}
#lookout_btn .icon {
	margin-left: .7em;
}
#lookout_btn:hover {
	border-color: black;
}
#lookout_btn.transform {
	color: white;
	background-color: var(--main-darkgray-color);
	border-color: var(--main-lightgray-color);
}
#lookout_btn.transform:hover {
	color: white;
	background-color: black;
}








/* DRAGGABLE LIST */

.drag_list {
	width: 100%;
	overflow-y: scroll;
	background: linear-gradient(90deg, var(--main-lightgray-color) 1px, white 1px calc(100% - 1px), var(--main-lightgray-color) calc(100% - 1px));
	border-top: 1px solid var(--main-lightgray-color);
	border-bottom: 1px solid var(--main-lightgray-color);
}
#editor .drag_list {
	margin-bottom: -1px;
}
.drag_list:empty:after {
	padding: 1em;
	font-size: .7em;
	color: var(--main-gray-color);
	display: block;
}
#editor .drag_list:empty:after {
	content: 'No items found';
}
#source .drag_list:empty:after {
	content: 'Channel is empty';
}
.state_2 #source .drag_list:empty:after {
	content: 'loading...';
}
.draggable_list_item {
	border: 1px solid var(--main-lightgray-color);
	margin-top: -1px;
	color: var(--main-mediumgray-color);
	height: 3rem;
	font-size: 0.7em;
}
.draggable_list_item:first-child {
	margin-top: 0;
	border-top-color: transparent;
}
.draggable_list_item:last-child {
	border-bottom-color: transparent;
}
.draggable_list_item:hover, .draggable_list_item.selected {
	border-color: black;
	z-index: 1;
	position: relative;
	color: black;
}
.draggable_list_item[draggable="true"]{
	background: white;
}
.draggable_list_item[type="connection"], .draggable_list_item[type="lookout"] {
	text-align: center;
}
.draggable_list_item[type="connection"] {
	color: var(--main-connection-color);
}
.drag_handle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	height: 3rem;
	white-space: nowrap;
	box-sizing: border-box;
}
.drag_handle:before, .drag_handle:after {
	content:'';
	position: absolute;
	height:100%;
	width: 1.5em;
	background: linear-gradient(90deg,rgba(255,255,255,0), white 90%);
	right: 0;
	z-index: 1;
}
.drag_handle:after {
	display: none;
	left: 0;
	right: auto;
}
#editor .drag_handle:hover:before, #editor .selected .drag_handle:before, .drag_handle:after {
	width: 3.3em;
}
#editor .drag_handle:hover:before, #editor .selected .drag_handle:before {
	background: linear-gradient(90deg,rgba(255,255,255,0), white 25%, white 100%);
}
.draggable_list_item[type="connection"] .drag_handle:after, .draggable_list_item[type="lookout"] .drag_handle:after {
	background: linear-gradient(270deg,rgba(255,255,255,0), white 25%, white 100%);
	display: block;
}
.drag_handle .icon.eye {
	opacity: .75;
}
.drag_handle .icon.eye:hover {
	opacity: 1;
}
.draggable_list_item_content {
	overflow: hidden;
	flex-grow: 2;
}
.draggable_list_item_content > span {
	display: inline-block;
	min-width: 100%;
	padding: 0 .3em .3em .8em;
	box-sizing: border-box;
}
#editor .draggable_list_item_content > span {
	padding-right: 3em;
}
.draggable_list_item[type="connection"] .draggable_list_item_content > span, .draggable_list_item[type="lookout"] .draggable_list_item_content > span {
	padding-left: 3em;
}
.drag_handle:hover .draggable_list_item_content > span {
	transform: translateX( calc(-100% + (var(--draggable-list-item-width) - var(--thumbs-witdh) - 2px ) ) );
	transition: transform 5s linear;
}
.drag_handle.no_thumb:hover .draggable_list_item_content > span,
.draggable_list_item[type="connection"] .drag_handle:hover .draggable_list_item_content > span,
.draggable_list_item[type="lookout"] .drag_handle:hover .draggable_list_item_content > span {
	transform: translateX( calc(-100% + ( var(--draggable-list-item-width) - 2px ) ) );
}
.draggable_list_item_thumb {
	flex-basis: var(--thumbs-witdh);
	flex-shrink: 0;
	box-sizing: border-box;
	padding-left: .5em;
	overflow: hidden;
	height: calc(100% - 1em);
	display: flex;
}
.draggable_list_item_thumb img {
	width: 100%;
	align-self: center;
}
.sortable-ghost {
	cursor: grab;
	opacity: 0.3;
}
.editor_list_item {
	border: 1px solid var(--main-lightgray-color);
	border-top-color: transparent;
}
.editor_list_item span {
	cursor:pointer;
	display:inline-block;
	padding: 10px 0;
}
.selected {
	height: auto;
}
*[type="connection"] {
	color: var(--main-connection-color)
}
input.searchbar {
	border: 1px solid var(--main-gray-color);
}

.drag_handle .icon.eye, .drag_handle .icon.lookout, .drag_handle .icon.connection {
  position: absolute;
  z-index: 1;
}
.drag_handle .icon.lookout, .drag_handle .icon.connection {
  left: var(--draggable-list-item-padding);
  z-index: 2;
}
.drag_handle .icon.eye {
  right: .5em;
  display: none;
}
.drag_handle:hover .icon.eye, .draggable_list_item.selected .icon.eye  {
  display: block;
  font-size: 1rem;
}







/* NODE SETTINGS  */

.draggable_list_item input[type="text"]{
  border-color: var(--main-gray-color);
  padding:10px 0;
  display:inline-block;
  width: calc(100% - 2px);
  margin: 1px;
  color:inherit;
  text-align:center;
  font-size: .7em;
}
.draggable_list_item textarea{
  display:block;
  margin: 1px;
  width: calc(100% - 2px);
  box-sizing:border-box;
  resize:vertical;
  height:auto;
  font-family:inherit;
  margin-bottom: 1rem;
  border-color: var(--main-gray-color);
  padding: 0.5em;
}
.lookout_content {
	padding: 0 var(--draggable-list-item-padding);
	text-align: left;
}
.node_properties, .connection_properties {
	height: 2rem;
}
.node_properties {
	display: flex;
	flex-wrap: nowrap;
	margin: 1rem 0;
	align-items: stretch;
	justify-content: center;
	padding: 0 .5em;
	font-size: 1rem;
}
.node_properties .toggle {
	margin-right: 1em;
}
.node_properties .iconToggle .slider span:not(.icon) {
	padding-top: .6em;
}
.node_properties button {
	height: 100%;
}
.delete_button_wrapper {
	display: inline;
}
button.delete_button {
	border-color: var(--main-error-color);
	color: var(--main-error-color);
	margin: 0;
}
.selected .edit_click_area:empty:after {
	content: 'Title';
	color: var(--main-gray-color);
}
.selected .edit_click_area:hover {
	border-bottom: 1px dashed var(--main-gray-color);
	border-top: 1px solid transparent;
	cursor: text;
	color: var(--main-darkgray-color);
}


/* DRAGGABLE NUMBER  */

.connection_properties {
	font-size: 1rem;
	display: flex;
	border-radius: 5px;
	flex-wrap: nowrap;
	width: 6rem;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	background-color: var(--main-faintgray-color);
	border: 1px solid var(--main-lightgray-color);
}
.connection_property_circle {
 	border: 1px solid var(--main-connection-color); 
	display: inline-block;
	width: .6em;
	height: .6em;
	border-radius: 1em;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
	margin: 0 .7em;
}
.connection_property_circle:after {
	position: absolute;
	content: '';
	height: 1px;
	width: .7em;
	top: 50%;
	background-color: var(--main-connection-color);
}
.connection_property_circle:first-child:after {
	right: 0;
	transform: translate(100%, -50%);
}
.connection_property_circle:last-child:after {
	left: 0;
	transform: translate(-100%, -50%);
}
.connection_property_circle:hover {
	background: var(--main-connection-color);
}
.number_handle {
	color: var(--main-connection-color);
	cursor: row-resize;
	user-select: none;
	font-size: .8em;
}
.number_handle:hover .number_handle_value {
	font-weight: bold;
}







/* FLOATING BLOCKS */

.floating-blocks{
	pointer-events:none;
	font-size:3em;
	line-height:1.5;
	background-color:white;
}
.floating-blocks[data-contentclass="Image"]{
	background-color: transparent;
}
.floating-blocks p {
	margin: 3rem;
}
.floating-blocks[data-contentclass="Text"]{
	max-width:200px;
}

.floating-blocks.connection{
	background-color: var(--main-connection-color);
	font-size:1.5em;
	border-radius: 3rem;
	min-width: 1rem;
	min-height: 1rem;
	padding: 1rem 1rem;
	text-align: center;
	color: white;
	max-width: 30rem;
}
.floating-blocks.connection p {
	margin: 0;
}
.floating-blocks.connection pre {
	white-space: normal;
	padding: 0 1rem;
}
.floating-blocks.connection pre.empty {
	line-height: 0;
	padding: 0;
}
.floating-blocks.focus{
	box-shadow: 0 0 0 5px white, 0 0 0 10px black;
}








/* TOOLBOX */

.toolbox{
	position:fixed;
	box-shadow: 0 0 0px 1px rgba(0,0,0,0.2);
	transform: translate(15%);
	overflow:hidden;
	border-radius: 5px;
}
.toolbox div{
	cursor:pointer;
	width: 2.4rem;
	height: 2.4rem;
	text-align:center;
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center;
	box-sizing: border-box;
	border-top: 1px solid var(--main-gray-color);
	border-bottom: 1px solid var(--main-gray-color);
	position: relative;
	background-color:white;
}
.toolbox div:hover, .toolbox div:active{
	/*border-color: black;
	z-index: 1;*/
	background-color: var(--main-faintgray-color);
}
.toolbox div:not(:first-child) {
	margin-top: -1px;
}
.toolbox div:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.toolbox div:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#thread_plus {
	position:fixed;
	padding:.5em .8em .5em 1.9em;
	border-radius:1em;
	background-color: var(--main-thread-color);
	color: white;
	background-position: .5em center;
	background-repeat: no-repeat;
	background-size: 1.1em;
}
.cursor_pointer{
	cursor:pointer;
}
.hover{
	opacity:.5;
}