:root {
	--draggable-list-item-width: 15rem;
	--thumbs-witdh: 4.5em;
}






html, body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}






/* SOURCE */

#source {
	position:fixed;
	z-index: var(--main-layer-one);
	user-select:none;
	top: 3.2rem;
	max-height: calc(100% - 1rem - 3.2rem);
	left: 1rem;
	width: var(--draggable-list-item-width);
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 .1em rgba(0,0,0,.05);
}
#source_header {
	padding: .25rem;
	position: relative;
	background: white;
	box-sizing: border-box;
	border: 1px solid var(--main-lightgray-color);
	border-bottom: none;
}

#refresh_button {
	position: relative;
	width: 26%;
	z-index: 0;
	border: none;
}
#source_header .searchbar {
	right: .25rem;
	position: absolute;
	width: 70%;
	transition: width .1s;
	z-index: 100;
	text-align: left;
}
#source_header .searchbar:focus {
	width: calc(100% - .5rem);
	background: white;
}



/* EDITOR */

#editor {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: var(--main-layer-two);
	background: white;
	width: var(--draggable-list-item-width);
	padding: 1rem;
	padding-top: 4rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
#editor_header {
	text-align: right;
	margin-bottom: .25rem;
}
#save_button_wrapper {
	margin-bottom: 1rem;
}
#save_button_changes {
	color: var(--main-mediumgray-color);
	font-size: .7em;
	vertical-align: text-bottom;
	margin-right: 1em;
}
#editor input[type="text"]{
  border-style:dashed;
  padding:10px 0;
  display:inline-block;
  width: calc(100% - 2px);
  margin: 1px;
  color:inherit;
  text-align:center
}
#editor textarea{
  display:block;
  margin: 1px;
  width: calc(100% - 2px);
  box-sizing:border-box;
  resize:vertical;
  height:auto;
  border-style:dashed;
  font-family:inherit;
  margin-bottom: 1rem;
}
#editor input:focus, #editor textarea:focus {
  background-color: white;
}





/* CONTROLS */

#controls_header {
	position:fixed;
	top: 1rem;
	right: 1rem;
	z-index: var(--main-layer-three);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
#help_button, #settings_button {
	margin-right: 2rem;
	position: relative;
	top: 1px;
}
#help_button {
	cursor: pointer;
}
#help_button:hover:before {
	content: 'Help ';
}
#settings_button, #help_button:hover:before {
	cursor: pointer;
	vertical-align: middle;
	font-size: .8em;
	color: var(--main-mediumgray-color);
}
#settings_button:hover, #help_button:hover:before {
	text-decoration: underline;
	text-decoration-style: dotted;
	color: black;
}
#main_button {
	background: white;
	padding: 0 .9rem;
	color: black;
	border-radius: 2rem;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 2rem;
	box-sizing: border-box;
	border: 1px solid var(--main-gray-color);
}
#main_button:hover {
	border-color: black;
}
#editor_button_indicator {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--main-error-color);
	border-radius: 2em;
	min-width: 1.2rem;
	height: 1.2rem;
	margin-left: .5rem;
	color: white;
	font-size: .8em;
	text-align: center;
	box-sizing: border-box;
	padding: 0 .5em;
	margin-right: -.4rem;
}
#main_button #editor_button_indicator.close_button {
	background: linear-gradient(45deg, transparent calc(50% - 1px), var(--main-darkgray-color) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(135deg, transparent calc(50% - 1px), var(--main-darkgray-color) calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(var(--main-lightgray-color), var(--main-lightgray-color));
	color: transparent;
	border: 5px solid var(--main-lightgray-color);
	padding: 0;
	width: 1.1rem;
}
#editor_button_indicator.hide:not(.close_button) {
	display: none;
}

#camera_controls {
	position:fixed;
	bottom:1rem;
	right:1rem;
	align-items: stretch;
	height: 2.3rem;
}
#camera_controls.margin_right {
	right:calc(var(--draggable-list-item-width) + 3rem);
}
#add_lookout_btn {
	background: white;
	border: 1px solid var(--main-gray-color);
	vertical-align: middle;
	border-radius: 5px;
	box-sizing: border-box;
	white-space: nowrap;
	display: flex;
	align-items: center;
	padding: 0 1em;
	font-size: .8em;
	color: black;
}
#add_lookout_btn .icon {
	margin-left: .7em;
}
#add_lookout_btn:hover {
	border-color: black;
}
#camera_controls .slider {
}





/* DRAGGABLE LIST */

.drag_list {
	width: 100%;
	overflow-y: scroll;
	background: linear-gradient(90deg, var(--main-lightgray-color) 1px, white 1px calc(100% - 1px), var(--main-lightgray-color) calc(100% - 1px));
	border-top: 1px solid var(--main-lightgray-color);
	border-bottom: 1px solid var(--main-lightgray-color);
}
#editor .drag_list {
	margin-bottom: -1px;
}
.drag_list:empty:after {
	padding: 1em;
	font-size: .7em;
	color: var(--main-gray-color);
	display: block;
}
#editor .drag_list:empty:after {
	content: 'Nothing added yet';
}
#source .drag_list:empty:after {
	content: 'Channel is empty';
}
.draggable_list_item {
	border: 1px solid var(--main-lightgray-color);
	margin-top: -1px;
	color: var(--main-mediumgray-color);
	height: 3rem;
}
.draggable_list_item:first-child {
	margin-top: 0;
	border-top-color: transparent;
}
.draggable_list_item:last-child {
	border-bottom-color: transparent;
}
.draggable_list_item:hover, .draggable_list_item.selected {
	border-color: black;
	z-index: 1;
	position: relative;
	color: black;
}
.draggable_list_item[draggable="true"]{
	background: white;
}
.draggable_list_item[type="connection"], .draggable_list_item[type="lookout"] {
	color: var(--main-connection-color);
	text-align: center;
}
.drag_handle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	height: 3rem;
	white-space: nowrap;
	font-size: .7em;
	box-sizing: border-box;
}
.drag_handle:before {
	content:'';
	position: absolute;
	height:100%;
	width: 1.5em;
	background: linear-gradient(90deg,rgba(255,255,255,0), white 90%);
	right: 0;
	z-index: 1;
}
#editor .drag_handle:hover:before, #editor .selected .drag_handle:before {
	width: 3.3em;
	background: linear-gradient(90deg,rgba(255,255,255,0), white 25%, white 100%);
}
.drag_handle .icon.eye {
	opacity: .75;
}
.drag_handle .icon.eye:hover {
	opacity: 1;
}
.draggable_list_item_content {
	overflow: hidden;
	flex-grow: 2;
}
.draggable_list_item_content span {
	display: inline-block;
	min-width: 100%;
	padding: 0 .3em .3em .8em;
	box-sizing: border-box;
}
.drag_handle:hover .draggable_list_item_content span {
	transform: translateX( calc(-100% + (var(--draggable-list-item-width) - var(--thumbs-witdh) - 2px ) ) );
	transition: transform 5s linear;
}
.drag_handle.no_thumb:hover .draggable_list_item_content span, 
.draggable_list_item[type="connection"] .drag_handle:hover .draggable_list_item_content span, 
.draggable_list_item[type="lookout"] .drag_handle:hover .draggable_list_item_content span {
	transform: translateX( calc(-100% + ( var(--draggable-list-item-width) - 2px ) ) );
}
.draggable_list_item_content .icon {
	display: inline;
}
.draggable_list_item_thumb {
	flex-basis: var(--thumbs-witdh);
	flex-shrink: 0;
	box-sizing: border-box;
	padding-left: .5em;
	overflow: hidden;
	height: calc(100% - 1em);
	display: flex;
}
.draggable_list_item_thumb img {
	width: 100%;
	align-self: center;
}
.sortable-ghost {
	cursor: grab;
	opacity: 0.3;
}
.editor_list_item {
	border: 1px solid var(--main-lightgray-color);
	border-top-color: transparent;
}
.editor_list_item span {
	cursor:pointer;
	display:inline-block;
	padding: 10px 0;
}
.selected {
	height: auto;
}
*[type="connection"], *[type="lookout"] {
	color: var(--main-connection-color)
}
input.searchbar {
	border: 1px solid var(--main-gray-color);
}
.drag_handle .icon.eye {
  position: absolute;
  right: .5em;
  z-index: 1;
  display: none;
}
.drag_handle:hover .icon.eye, .draggable_list_item.selected .icon.eye  {
  display: block;
  font-size: 1rem;
}

.node_properties {
	display: flex;
	flex-wrap: nowrap;
	margin: 1rem 0;
	align-items: stretch;
	justify-content: center;
	padding: 0 .5em;
	height: 2rem;
}
.node_properties .toggle {
	margin-right: 1em;
}
.node_properties button {
	height: 100%;
}
.delete_button_wrapper {
	display: inline;
}
button.delete_button {
	border-color: var(--main-error-color);
	color: var(--main-error-color);
	margin: 0;
}
button.edit_button {
	font-size: .7em;
	padding: 0 1rem;
}
.selected .edit_click_area:hover {
	border-bottom: 1px dashed black;
	cursor: text;
}

/* DRAGGABLE NUMBER  */

.connection_properties {
	text-align: center;
}
.connection_property_circle {
	border: 1px solid var(--main-connection-color);
	display: inline-block;
	width: .5em;
	height: .5em;
	border-radius: 1em;
	margin: 0 .3em;
	vertical-align: middle;
	box-sizing: border-box;
}
.connection_properties:hover .connection_property_circle {
	border-width: 2px;
}
.connection_property_circle:hover {
	background: var(--main-connection-color);
}
.number_handle {
	color: var(--main-connection-color);
	cursor: row-resize;
	user-select: none;
	padding: 10px 0;
	display: inline-block;
	font-size: .9em;
	font-style: italic;
}
.number_handle:hover .number_handle_value {
	text-decoration: underline;
	text-decoration-style: dotted;
}





.floating-blocks{
	pointer-events:none;
	font-size:3em;
	line-height:1.5;
	background-color:white;
}
.floating-blocks p {
	margin: 3rem;
}
.floating-blocks[contentclass="Text"]{
	max-width:200px;
}

.floating-blocks.connection{
	background-color: var(--main-connection-color);
	font-size:1.5em;
	border-radius: 3rem;
	min-width: 1rem;
	min-height: 1rem;
	padding: 1rem;
	text-align: center;
	color: white;
}
.floating-blocks.connection p {
	margin: 0;
}
.floating-blocks.connection p.empty {
	line-height: 0;
}
.floating-blocks.focus{
	box-shadow: 0 0 0 5px white, 0 0 0 10px black;
}






/* TOOLBOX */

.toolbox{
	position:fixed;
	box-shadow: 0 0 0px 1px rgba(0,0,0,0.2);
	transform: translate(15%);
	overflow:hidden;
	border-radius: 5px;
}
.toolbox div{
	cursor:pointer;
	width: 2.4rem;
	height: 2.4rem;
	text-align:center;
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center;
	box-sizing: border-box;
	border-top: 1px solid var(--main-gray-color);
	border-bottom: 1px solid var(--main-gray-color);
	position: relative;
	background-color:white;
}
.toolbox div:hover, .toolbox div:active{
	/*border-color: black;
	z-index: 1;*/
	background-color: var(--main-faintgray-color);
}
.toolbox div:not(:first-child) {
	margin-top: -1px;
}
.toolbox div:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.toolbox div:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#thread_plus{
	position:fixed;
	padding:.5em;
	border-radius:1em;
	background:white;
}
.cursor_pointer{
	cursor:pointer;
}
.hover{
	opacity:.5;
}
.toolbox .move { background-image: url(../img/icon-move.svg); }
.toolbox .eye { background-image: url(../img/icon-eye.svg); }
.toolbox .connect { background-image: url(../img/icon-connect.svg); }
.toolbox .dynamic { background-image: url(../img/icon-dynamic.svg); }
.toolbox .anchor { background-image: url(../img/icon-anchor.svg); }
.toolbox .thread { background-image: url(../img/icon-thread.svg); }
.toolbox .threadstart { background-image: url(../img/icon-threadstart.svg); }
.toolbox .threaddelete { background-image: url(../img/icon-threaddelete.svg); }
