:root {
	--header-height: 6rem;
	--panel-witdh: 15rem;
	--thumbs-witdh: 5em;
}



#all_blocks {
	position:fixed;
	height:100%;
	z-index:1;
	user-select:none;
	top:0;
	left: 1em;
	width: var(--panel-witdh);
}
#all_blocks_header {
	position:absolute;
	width: 100%;
	align-content: space-between;
	flex-wrap: wrap;
	height: var(--header-height);
	display: flex;
}
#all_blocks_body {
	position:absolute;
	width: 100%;
	overflow-y:auto;
	top: calc(var(--header-height) + 3px );
	bottom: 0;
	background: white;
}
#add_block_button {
	width: 100%;
	height: 50%;
}

#all_blocks_controls {
	position: relative;
	width: 100%;
	margin-bottom: .1rem;
}
#refresh_button, #all_blocks_controls .searchbar {
}
#refresh_button {
	padding: 0;
	margin: 0;
	height: 2.3rem;
	width: 4rem;
}
#all_blocks_controls .searchbar {
	right: 0;
	position: absolute;
	top: 0;
	width: calc( 100% - 4rem - 4px );
	transition: width .1s;
	z-index: 100;
	border: 1px solid var(--main-gray-color);
}
#all_blocks_controls .searchbar:focus {
	width: 100%;
}


.draggable_list_item {
	border: 1px solid var(--main-lightgray-color);
	background-color:white;
	box-sizing: border-box;
	display: flex;
	height: 3rem;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: .7em;
	cursor: pointer;
	border-top-color: transparent;
	color: var(--main-mediumgray-color);
	position: relative;
}
.draggable_list_item:first-child {
	border-top-color: var(--main-lightgray-color);
}
.draggable_list_item:before {
	content:'';
	position: absolute;
	height:100%;
	width: 1.5em;
	background: linear-gradient(90deg,rgba(255,255,255,0), rgba(255,255,255,1) 90%);
	right: 0;
	z-index: 1;
}
.draggable_list_item_content {
	overflow: hidden;
	flex-grow: 2;
}
.draggable_list_item_content span {
	display: inline-block;
	min-width: 100%;
	padding: 0 .3em .3em .3em;
	box-sizing: border-box;
}
.draggable_list_item:hover .draggable_list_item_content span {
	transform: translateX( calc(-100% + (var(--panel-witdh) - var(--thumbs-witdh) - 2px ) ) );
	transition: transform 5s linear;
}
.draggable_list_item.no_thumb:hover .draggable_list_item_content span {
	transform: translateX( calc(-100% + ( var(--panel-witdh) - 2px ) ) );
}
.draggable_list_item:hover {
	border: 1px solid black;
	border-top-color: black;
}
.draggable_list_item_thumb {
	flex-basis: var(--thumbs-witdh);
	flex-shrink: 0;
	box-sizing: border-box;
	padding: .3em;
}
.draggable_list_item_thumb img {
	width: 100%;
	margin-top: -1px;
}